<h1>All products</h1>

<p>
  <%= link_to "Revenir à l'accueil", root_path, class: "btn btn-primary" %>
  <%= link_to "Nouveau produit", new_product_path, class: "btn btn-success" %>
</p>

<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.name, product_path(product) %> (<%= product.url %>)
    </li>
  <% end %>
</ul>
